target/
.idea
# The following files are generated/updated by Hilla
node_modules/
frontend/generated/
vite.generated.ts

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
